<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href='/user'>MUZIK.com</a>

    <ul class="pure-menu-list">
      {{!-- <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li> --}}
      <li class="pure-menu-item"><a href="/user/new" class="pure-menu-link">Sign Up</a></li>
    </ul>
  </div>
</div>

{{!-- blue part --}}
<div class="splash-container">
  <div class="video">
    <div style="position: absolute; z-index: -5; top: 500px; left: 0px; bottom: 0px; right: 0px; overflow: hidden; background-size: cover; background-color: transparent; background-repeat: no-repeat; background-position: 50% 50%; background-image: none;">
    </div>
  </div>
  <div class="splash">
    <h1 class="splash-head">MAKE MUZIK.</h1>
    <p class="splash-subhead">
      Sharing music has never been so easy
    </p>
    {{!-- get started link/button --}}
    {{!-- <p>
      <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
    </p> --}}
    <form class="pure-form" action='/user' method='post'>
      <fieldset>
        <legend>Sign in</legend>
        <small style="color:#34495e;">{{flash}}</small>

        <input type="email" placeholder="Email" name='user[email]'>
        <input type="password" placeholder="Password" name='user[password]'>

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
      </fieldset>
    </form>
  </div>
</div>



{{!-- <div class="content-wrapper"> --}}
{{!-- icons and labels and white sliding div --}}
{{!-- <div class="content">
    <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

        <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Get Started Quickly
                </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modular
                </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
      <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
        <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Plays Nice
                </h3>
        <p>
          Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
        </p>
      </div>
    </div>
  </div> --}}

{{!-- dark sliding div --}}
{{!-- <div class="ribbon l-box-lrg pure-g">
    <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
      <img width="300" alt="File Icons" class="pure-img-responsive" src="img/common/file-icons.png">
    </div>
    <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

      <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.
      </p>
    </div>
  </div> --}}

{{!-- footer --}}
{{!-- <div class="footer l-box is-center">
    View the source of this layout to learn more. Made with love by the YUI Team.
  </div> --}}

{{!-- </div> --}}
