<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href='/'>MUZIK.com</a>

    <ul class="pure-menu-list">
      {{!-- <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li> --}}
      <li class="pure-menu-item"><a href="/playlist/logout" class="pure-menu-link">Logout</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <h1 class="splash-head">Make a Playlist</h1>
  </div>
</div>
