<div class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" href='/user'>MUZIK.com</a>

    <ul class="pure-menu-list">
      {{!-- <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li> --}}
      <li class="pure-menu-item"><a href="/user/logout" class="pure-menu-link">Logout</a></li>
    </ul>
  </div>
</div>

<div class="splash-container">
  <div class="splash">
    <p class='splash-subhead'>
      {{flash}}
    </p>
    <h1 class="splash-head">Create a playlist</h1>
    <p>
      <a href="/playlist/create" class="pure-button pure-button-primary">Create</a>
    </p>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Scroll to view playlists</h2>

    <div class="pure-g">
      <div class="l-box pure-u-1-2 is-center">
        <p class='content-subhead'>PlaylistName</p>
        <div class="tablediv" style='height:14vw; overflow-y:auto;'>

          <table class="pure-table table-addition">

            <thead>
              <tr style='text-align: center;'>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Fire</td>
                <td>Ed Sheeran</td>
                <td>IDK</td>
              </tr>

              <tr>
                <td>2</td>
                <td>Dangerous Woman</td>
                <td>Ariana Grande</td>
                <td>Playboy</td>
              </tr>

              <tr>
                <td>3</td>
                <td>Bats in the Belfry</td>
                <td>Disco Jet</td>
                <td>IDK</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>

      <div class="l-box pure-u-1-2 is-center">
        <p class='content-subhead'>PlaylistName</p>
        <div class="tablediv" style='height:14vw; overflow-y:auto;'>

          <table class="pure-table table-addition">

            <thead>
              <tr style='text-align: center;'>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Fire</td>
                <td>Ed Sheeran</td>
                <td>IDK</td>
              </tr>

              <tr>
                <td>2</td>
                <td>Dangerous Woman</td>
                <td>Ariana Grande</td>
                <td>Playboy</td>
              </tr>

              <tr>
                <td>3</td>
                <td>Bats in the Belfry</td>
                <td>Disco Jet</td>
                <td>IDK</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
      <div class="l-box pure-u-1-2 is-center">
        <p class='content-subhead'>PlaylistName</p>
        <div class="tablediv" style='height:14vw; overflow-y:auto;'>

          <table class="pure-table table-addition">

            <thead>
              <tr style='text-align: center;'>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Fire</td>
                <td>Ed Sheeran</td>
                <td>IDK</td>
              </tr>

              <tr>
                <td>2</td>
                <td>Dangerous Woman</td>
                <td>Ariana Grande</td>
                <td>Playboy</td>
              </tr>

              <tr>
                <td>3</td>
                <td>Bats in the Belfry</td>
                <td>Disco Jet</td>
                <td>IDK</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
      <div class="l-box pure-u-1-2 is-center">
        <p class='content-subhead'>PlaylistName</p>
        <div class="tablediv" style='height:14vw; overflow-y:auto;'>

          <table class="pure-table table-addition">

            <thead>
              <tr style='text-align: center;'>
                <th>#</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Album</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>1</td>
                <td>Fire</td>
                <td>Ed Sheeran</td>
                <td>IDK</td>
              </tr>

              <tr>
                <td>2</td>
                <td>Dangerous Woman</td>
                <td>Ariana Grande</td>
                <td>Playboy</td>
              </tr>

              <tr>
                <td>3</td>
                <td>Bats in the Belfry</td>
                <td>Disco Jet</td>
                <td>IDK</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>
  </div>

  {{!-- <div class="footer l-box is-center">
        View the source of this layout to learn more. Made with love by the YUI Team.
    </div> --}}

</div>
